<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Visitor Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-icon name="create" slot="start" color="primary" (click)="editVisitor(item)"></ion-icon>
      <ion-icon name="remove-circle" slot="end" color="danger" (click)="deleteVisitor(item)"></ion-icon>
      <div style="color: royalblue;margin-right: 1vh">{{item.name}}</div> -
      <div class="itemLocation">
        {{item.location}}
      </div>
      <div style="margin-left: 1vh">-</div>
      <div class="itemDate">
        {{item.date}}
      </div>
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
