<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Company Name
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card" *ngIf="welcomeCardVisible == true">
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to the Company</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now you can book your family visit on advance. Please fill the Personal Information and Offical Description to enable Security team to act on it.</p>
        <div class="cardButtons"> 
          <ion-button fill="outline" slot="end" color="danger" (click)="changeWelcomeCardVisibility(false)">Hide</ion-button> 
        </div>
      </ion-card-content>
    </ion-card>
    <ion-toolbar (click)="changeWelcomeCardVisibility(true)" *ngIf="welcomeCardVisible == false" color="secondary">
      <ion-title>Show Help</ion-title>
    </ion-toolbar>
    <div>
      <ion-item class="textFieldPersonal">
        <ion-label>Visitor :</ion-label>
        <ion-input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>
      <ion-item class="textAreaDescription">
        <ion-label>Description: </ion-label>
        <ion-textarea [(ngModel)]="description"></ion-textarea>
      </ion-item>
      <ion-item class="datePickerPersonal">
        <ion-label>Visit Date: </ion-label>
        <ion-datetime display-format="YYYY-MM-DD" picker-format="DD MMMM YYYY" [min]="today" [(ngModel)]="visitDate"></ion-datetime>
      </ion-item>
      <ion-item class="textFieldPersonal">
        <ion-label>Location: </ion-label>
        <ion-select placeholder="Select Location" okText="Yaas" cancelText="Nope" [(ngModel)]="location">
          <ion-select-option value="Hyderabad">Hyderabad</ion-select-option>
          <ion-select-option value="Pune">Pune</ion-select-option>
          <ion-select-option value="Mangalore">Mangalore</ion-select-option>
          <ion-select-option value="Bangalore">Bangalore</ion-select-option>
          <ion-select-option value="Mumbai">Mumbai</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button class="saveButton" (click)="saveVisitorDetails()">Save Details</ion-button>
    </div>
</ion-content>
