.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.cardButtons{
  float: right;
}

.textFieldPersonal{
  width: 70%;
  left: 5%;
}

.textAreaDescription{
  width: 90%;
  left: 5%;
}

.saveButton{
  margin-left: 25%;
  margin-top: 2vh;
}

.datePickerPersonal{
  width: 50%;
  left: 5%;
}

